<div class="card">
  <div class="card-header">
    <%= link_to "Movie ##{@movie.id}", @movie %>
  </div>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <%= render @movie %>
  </div>
</div>
